/* $Id: plugin.rc,v 1.1.1.1 2000/09/08 22:20:32 cwohlgemuth Exp $ */

/******************************************************************************

	Copyright Netlabs, 1998, this code may not be used for any military purpose

******************************************************************************/


rcinclude plugin.dlg
#include <os2.h>
#include "plugin.h"

// Define any other resources here.  Help tables, bitmaps, etc..
